<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627998248999-2lvm79sh989cr5ah6hskab8jijfr7j3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627998248999-2lvm79sh989cr5ah6hskab8jijfr7j3c</string>
	<key>API_KEY</key>
	<string>AIzaSyDOP9b3z3N4IbFaNnSOWYlsRXDKNgWJ3Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>627998248999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-526bd</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-526bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627998248999:ios:d3b47a4de46cb8ad7abe02</string>
</dict>
</plist>